body {
  background-color: #efeeee;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 270px;
}

.player-body {
  width: 270px;
  height: 270px;
  background: #efeeee;
  box-sizing: border-box;
  border: 1px solid white;
  filter: blur(1.4px);
  box-shadow: 16px 16px 32px rgba(209, 209, 209, 0.5),
    -16px -16px 32px rgba(255, 255, 255, 0.5),
    inset 0px 0px 24px rgba(255, 255, 255, 0.4), inset 0px 0px 2px #ffffff;
  border-radius: 100%;
}

.icon-wrapper {
  /* z-index: 2; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 42px;
  height: 42px;
  pointer-events: none;
}

.glare {
  z-index: 2;
  stroke: #00eeffbd;
  filter: blur(28px);
}
.glare svg {
  stroke-width: 12px;
}
.light {
  z-index: 4;
  stroke: rgb(255, 255, 255);
  filter: blur(1px);
}
.light svg {
  stroke-width: 0.25px;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 128px;
  height: 128px;
  background: #efeeee;
  box-shadow: 8px 8px 8px rgba(209, 209, 209, 0.5),
    -8px -8px 8px rgba(255, 255, 255, 0.5),
    inset -16px -16px 16px rgba(209, 209, 209, 0.5),
    inset 16px 16px 16px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.2s;
  filter: blur(16px);
  border-radius: 100%;
}

.button:active {
  box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.5),
    -8px -8px 8px rgba(209, 209, 209, 0.2),
    inset -16px -16px 8px rgba(255, 255, 255, 0.25),
    inset 16px 16px 16px rgba(209, 209, 209, 0.2);
}
