body {
  background: #dfdcdc;

  --display-glass: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(90, 66, 108, 0) 33.85%,
    rgba(90, 63, 108, 0.04) 66.15%,
    rgba(90, 68, 112, 0.16) 96.35%,
    #6b5a74 100%
  );
  --display-glass-active: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(72, 66, 108, 0.1) 23.85%,
    rgba(70, 63, 108, 0) 90%,
    rgba(74, 68, 112, 0.16) 96.35%,
    #6b5a74 100%
  );

  --display-gradient-first: linear-gradient(
    225deg,
    hsl(46, 100%, 66%) 21%,
    hsl(325, 100%, 70%) 70%
  );

  --display-background: hsla(50, 100%, 67%, 1);
}

img {
  user-select: none;
  pointer-events: none;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 190px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(1px);
  stroke: #f2feff;
  fill: none;
  stroke-width: 0.2px;
  width: 430px;
  height: 430px;
  z-index: 4;
  pointer-events: none;
  transition: opacity 0.6s, display 0.6s;
  opacity: 0;
}
.spinner.on {
  opacity: 0.5;
}

.display {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 62px auto 0 auto;
  pointer-events: none;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  filter: blur(1px);
}

.display.glass {
  z-index: 5;
  transition: filter 0.4s, box-shadow 0.4s, background 1s;
  background: var(--display-glass);
  box-shadow: inset 0px 0px 10px #c1c2de, inset -0.5px -0.5px 0.5px #e8e3e3;
}

.display.gradient {
  z-index: 3;
  background: var(--display-gradient-first);
  transition: opacity 0.2s;
  background-size: 140% 140%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.display.gradient.on {
  transition: opacity 0.2s;
}

.display.background {
  z-index: 2;
  width: 46px;
  height: 46px;
  margin: 63px auto 0 auto;
  background: var(--display-background);
  transition: opacity 1.6s;
}

.display.alarm {
  z-index: 6;
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 255, 0.18));
  transition: opacity 0.4s;
}

.body {
  width: 100%;
  height: 100%;
  background: #dfdcdc;

  box-shadow: 16px 16px 32px hsla(252, 3%, 70%, 1),
    -16px -16px 32px hsla(33, 12%, 95%, 1), 1px 1px 2px #aea9be,
    inset 0px 0px 6px #f4f1f1, inset 0px 0px 1px #f3f3f2;
  transition: background 0.2s;
  /* filter: blur(0.5px); */
  border-radius: 58px;
}

.sound-off-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 24px;
  height: 24px;
}

#sound-off-icon-path {
  fill: var(--icon-color);
}

.icon {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  stroke-width: 1px;
  stroke: var(--icon-color);
  width: 24px;
}

.display__icon {
  position: absolute;
  z-index: 4;
  --icon-color: hsla(324, 35%, 42%, 0.82);
  filter: blur(0.7px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 62px auto 0 auto;
  width: 48px;
  height: 48px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s;
  border-radius: 100%;
  stroke: #ccc;
}

.display__icon.on {
  opacity: 1;
}
.display__icon.off {
  opacity: 1;
}

.glare {
  z-index: 6;
  position: absolute;
  width: 5px;
  height: 14px;
  left: 57px;
  top: 53px;
  transition: opacity 0.4s;
  background: #ffffff;
  border-radius: 100%;
  filter: blur(5px);
  transform: rotate(35.07deg);
}

.mute-button {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 30px auto 0 auto;

  width: 112px;
  height: 112px;
  background: #dfdcdc;

  transition: box-shadow 0.4s;

  box-shadow: -16px -16px 32px hsla(25, 5%, 89%, 1),
    3px 3px 0px hsla(299, 4%, 78%, 1),
    inset -16px -16px 12px hsla(299, 4%, 80%, 1),
    inset -10px -10px 4px hsla(276, 5%, 59%, 1),
    inset 16px 16px 20px hsla(60, 13%, 98%, 1);

  filter: blur(8px);
  border-radius: 64px;
}

.mute-button:active {
  box-shadow: 16px 16px 32px hsla(25, 5%, 89%, 1),
    0px 0px 0px hsla(328, 4%, 81%, 1),
    inset 10px 10px 32px hsla(299, 4%, 84%, 1),
    inset 14px 14px 16px hsla(276, 5%, 70%, 1),
    inset -16px -16px 20px hsla(60, 13%, 97%, 1);
}

.mute-button:active ~ .display {
  transform: scale(0.96);
  filter: blur(0.8px);
}

.mute-button:active ~ .display.glass {
  background: var(--display-glass-active);
}
.mute-button:active ~ .display__icon {
  transform: scale(0.96);
  --icon-color: hsla(324, 35%, 42%, 1);
  filter: blur(0.6px);
}

.mute-button:active ~ .glare {
  opacity: 0;
}

.volume-button__wrapper {
  position: absolute;
}

.volume-button__wrapper.plus {
  right: 26px;
  bottom: 24px;
}

.volume-button__wrapper.minus {
  left: 26px;
  bottom: 24px;
}

.volume-button__body {
  width: 23px;
  height: 23px;
  background: #dfdcdc;
  transition: box-shadow 0.4s;
  box-shadow: -3px -3px 4px hsla(25, 5%, 95%, 1),
    3px 3px 5px hsla(328, 4%, 78%, 1), inset -1px -1px 2px hsla(299, 4%, 84%, 1),
    inset -1px -1px 6px hsla(276, 5%, 70%, 1),
    inset 4px 4px 4px hsla(60, 12%, 100%, 1);
  filter: blur(6px);
  border-radius: 64px;
}

.volume-button__body:active {
  box-shadow: 3px 3px 4px hsla(25, 5%, 95%, 1),
    -3px -3px 5px hsla(328, 4%, 78%, 1),
    inset -1px -1px 2px hsla(299, 4%, 84%, 1),
    inset 1px 1px 6px hsla(276, 5%, 70%, 1),
    inset -4px -4px 4px hsla(60, 12%, 100%, 1);
}

.volume-button__body:active ~ .volume-button__wrapper img {
  transform: scale(0.26);
}

.volume-button__wrapper img {
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 6px;
  /* outline: 1px solid red; */
}

.speaker-grid {
  position: absolute;
  z-index: 6;
  left: 50%;
  bottom: 21px;
  transform: translateX(-50%);
}
